.menu{
    width: 230px; height:100%; position:fixed; z-index:100; top:0px; right:0px; background-color:#fff; padding:40px;
    border-left: solid 1px #dedede;
    .title{
        display: block; font-size: 20px; font-weight:bold; text-align:right; margin-bottom:20px; padding-bottom:10px; border-bottom: dotted 1px #dedede;
    }
    > ul{
        text-align: right;
        > li{
            margin-bottom: 10px; cursor:pointer;
             &:hover{
                > ul{ 
                    max-height: 250px;
                    padding: 15px 15px 5px 15px;
                }
             } 
        
            > span{
                display: inline-block;
                height: 25px; 
                transition: ease 300ms;
                font-size:16px;
                color:#333;
                transition: all 0.3s ease-out;
                 &:hover, &.active{
                    color: rebeccapurple; font-size:20px; font-weight: bold;
                }
            }

            ul{
                overflow: hidden;
                max-height: 0px;
                transition: all 0.5s ease-out;
                padding: 0px;
                li{
                    > span{
                        display: flex; justify-content: flex-end; align-items:center;
                        position: relative;
                        height: 25px;
                        font-size: 14px;
                        color: #999;
                        transition: all 0.3s ease-out;
                        &:after{
                                content: "";
                                width: 5px;
                                height: 5px;
                                background-color: #663399;
                                position: relative;
                                right: -15px;
                                border-radius: 100%;
                        }
                        &:hover,&.active{ 
                            color: rebeccapurple; font-size:16px; font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}