// flex grid variable

$grid-name: "flex-grid";

$grid-columns:               12 !default;
$grid-margin-width:          20px !default;

$screen-xs:                  424px !default;
$screen-sm:                  768px !default;
$screen-md:                  1024px !default;
$screen-lg:                  1279px !default;
$screen-xl:                  1366px !default;


